# Dependencias
node_modules/

# Producción
dist/
build/


# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/
*.swp

# Cobertura de tests
coverage/

# Archivos temporales
*.log
*.tmp
